@import "../css/componenets/statusbar.css";
@import "../css/componenets/loginbox.css";
/* @media screen and (max-width: 600px) and(min-width:1200px) {
  body {
    background-color: red;
    transition: all 1s ease;
  }
} */

.main {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
