.chats {
  background: linear-gradient(to top, rgb(88, 88, 233), rgb(49, 188, 243));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.chatbox::-webkit-scrollbar {
  display: none;
}

.chatbox_chat {
  width: 600px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbox_chat_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chatbox_chat_info_icon {
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  border-radius: 20px;
  background-color: blueviolet;
  animation: iconspin 1s ease-in-out infinite;
}

.chatbox_chat_info_word {
  width: 300px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatbox_chat_check {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbox_chat_check_mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: chocolate;
}
