.input-word {
  width: 600px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.input-word i {
  animation: colorchange 1s ease-in infinite;
}

.input-word_emoticon {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 0px 5px;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.input-word_plus {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.input-word_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-word_send {
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff00;
  cursor: pointer;
}

.keyword {
  width: 470px;
  height: 30px;
  outline: none;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
