a {
  text-decoration: none;
  color: #ffffff;
}

.navigationbar-header {
  width: 600px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.2);
}

.navigationbar-header-icons {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.navigationbar-header_before {
  margin: 25px;
}

.navigationbar-header_search {
  margin: 25px;
}
.navigationbar-header_title_settings {
  font-size: 25px;
  color: #ffffff;
}

.navigationbar-header-title_more {
  font-size: 25px;
  margin: 20px;
  color: #ffffff;
}

.navigationbar-footer {
  width: 600px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.2);
}

.navigationbar-footer i {
  margin: 25px;
}
